main {
    margin-left: 300px;
    padding: 30px;

    
    .controls {
        display: flex;
        gap: 15px;
        border-bottom: 2px solid #DFE4EA;
        
        input {
            width: 100%;
            border: 0;
            padding: 0 0 19px;
            font-weight: bold;
            font-size: 18px;
        }

        img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }

    .editorjs {
        margin-top: 25px;
    }
}